backports.shutil-get-terminal-size==1.0.0
cycler==0.10.0
decorator==4.0.9
enum34==1.1.6
future==0.15.2
ipython==5.5.0
ipython-genutils==0.2.0
jdcal==1.2
joblib==0.9.4
matplotlib==1.5.1
mpmath==1.0.0
networkx==1.11
nibabel==2.0.2
nilearn==0.2.4
nipy==0.4.0
nipype==0.11.0
nose==1.3.7
numpy==1.13.3
openpyxl==2.2.2
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
pkg-resources==0.0.0
pluggy==0.3.1
prompt-toolkit==1.0.15
psutil==3.4.2
ptyprocess==0.5.2
py==1.4.34
pyexcel==0.2.0
pyexcel-io==0.1.0
pyexcel-xls==0.1.0
pyexcel-xlsx==0.1.0
Pygments==2.2.0
pyparsing==2.1.1
python-dateutil==2.5.2
pytz==2016.3
scandir==1.6
scikit-learn==0.17.1
scipy==0.17.0
simplegeneric==0.8.1
six==1.10.0
sklearn==0.0
sympy==1.0
texttable==0.9.1
tox==2.3.1
traitlets==4.3.2
traits==4.5.0
virtualenv==15.0.1
wcwidth==0.1.7
xlrd==1.1.0
xlwt-future==0.8.0
